<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <h5 class="card-title">Barra de progreso {{ porcentaje1 }}</h5>

            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="porcentaje1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1 + '%'"></div>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="porcentaje2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2 + '%'"></div>
            </div>

          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
      <div class="card">
        <div class="card-body">
          
          <app-incrementador (actualiza)='porcentaje1 = $event' Nombre="Progress Azul" [porcentaje]="porcentaje1"></app-incrementador>

            <!-- <div class="input-group">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" name="porcentaje" [(ngModel)]="porcentaje">
              <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-danger" type="button" (click)="variarValor(-5)">
                  <i class="mdi mdi-minus"></i>
                </button>
                <button class="btn btn-outline-success" type="button" (click)="variarValor(+5)">
                  <i class="mdi mdi-plus"></i>
                </button>
              </div>
            </div> -->

        </div>
      </div>
  </div>
  <div class="col-6">
      <div class="card">
        <div class="card-body">
          <app-incrementador (actualiza)='porcentaje2 = $event' Nombre="Progress Verde" [porcentaje]="porcentaje2"></app-incrementador>
        </div>
      </div>
  </div>
</div>